<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yutu.car">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c898c7229da0a9beac8f775b233d3be2" />
        <activity android:name=".activity.MainActivity"></activity>
        <activity android:name=".activity.DetailActivity" />
        <activity
            android:name=".activity.PdfActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.StationActivity" />
        <activity android:name=".activity.StationWXActivity" />
        <activity android:name=".activity.SearchCarActivity" />
        <activity android:name=".activity.CareManageActivity" />
        <activity
            android:name=".activity.TimeActivity"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity android:name=".activity.EnvironmentaProtectionActivity" />
        <activity android:name=".activity.MapActivity" />
        <activity android:name=".activity.DocActivity" />
        <activity android:name=".activity.CheckStationActivity" />
        <activity android:name=".activity.CheckNoQualifiedActivity" />
        <activity android:name=".activity.InformationDisplayActivity" />
        <activity android:name=".activity.QRActivity" />
        <activity android:name=".qrcode.CaptureActivity" />
        <activity android:name=".activity.CoAccountDetailActivity" />
        
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ChartActivity" />
        <activity android:name=".activity.DetailSearchActivity"></activity>
        <activity android:name=".activity.CareSearchActivity"/>
        <activity android:name=".activity.CityManagerActivity"/>
    </application>

</manifest>