<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meshing"
    android:versionCode="65"
    android:versionName="6.5" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />
    <!-- Required -->
    <permission
        android:name="com.example.meshing.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required -->
    <uses-permission android:name="com.example.meshing.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:name="cn.com.mapuni.meshing.activity.LocationApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
         android:screenOrientation="portrait"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="cn.com.mapuni.meshing.activity.LoadingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.com.mapuni.meshing.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.mapuni.meshing.activity.NewMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.mapuni.meshing.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name="cn.com.mapuni.meshing.activity.xc_activity.XcMainActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity android:name="cn.com.mapuni.meshing.activity.xc_activity.XcMainBaiduActivity" >
        </activity>
        <activity android:name="cn.com.mapuni.meshing.activity.gis.MapMainActivity" >
        </activity>
        <activity android:name="com.mapuni.android.photograph.CheckPicActivity" />
        <activity android:name="com.mapuni.android.photograph.DiscoverAlbumSelectActivity" />
        <activity android:name="com.mapuni.android.photograph.DiscoverAlbumSelectCompleteActivity" />
        <activity android:name="cn.com.mapuni.meshing.activity.gis.BaseMapActivityTDT" >
        </activity>
        <activity android:name="cn.com.mapuni.meshing.activity.xc_activity.XcrwActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|navigation"  
            android:windowSoftInputMode="adjustResize"  
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="cn.com.mapuni.meshing.activity.xc_activity.SaveXcrwActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|navigation"  
            android:windowSoftInputMode="adjustResize"  
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="cn.com.mapuni.meshing.activity.xc_activity.QiandaoActivity" >
        </activity>
        <activity android:name="cn.com.mapuni.meshing.activity.xc_activity.SigninToServerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|navigation"  
            android:windowSoftInputMode="adjustResize"  
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="cn.com.mapuni.meshing.activity.wd_activity.WdMainActivity" >
        </activity>
        <activity android:name="cn.com.mapuni.meshing.activity.wd_activity.SettingGYXTActivity" >
        </activity>
        <activity android:name="cn.com.mapuni.meshing.activity.wd_activity.RwxxSlideActivity" >
        </activity>
        <activity android:name="cn.com.mapuni.meshing.activity.wd_activity.RwxxChuliActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|navigation"  
            android:windowSoftInputMode="adjustResize"  
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="cn.com.mapuni.meshing.activity.wd_activity.RwxxLiebiaoXQActivity" >
        </activity>
        <activity android:name="cn.com.mapuni.meshing.activity.wd_activity.WryxxSlideActivity" >
        </activity>
        <activity android:name="cn.com.mapuni.meshing.activity.wd_activity.WryxxActivity" >
        </activity>
        <activity android:name="cn.com.mapuni.meshing.activity.wd_activity.YqydScssyxqkxqActivity" >
        </activity>
        <activity android:name="cn.com.mapuni.meshing.activity.wd_activity.YqydWrwzlssxqActivity" >
        </activity>
        <activity android:name="cn.com.mapuni.meshing.activity.wd_activity.YqydPwkxqActivity" >
        </activity>
        <activity android:name="cn.com.mapuni.meshing.activity.wd_activity.SettingActivity" >
        </activity>
        <activity android:name="cn.com.mapuni.meshing.activity.wd_activity.RwxxCzfkActivity" >
        </activity>
        <activity android:name="cn.com.mapuni.meshing.activity.wd_activity.RwxxXcjlActivity" >
        </activity>
         <activity android:name="cn.com.mapuni.meshing.activity.wd_activity.DocumentSearchActivity" >
        </activity>
        <activity android:name="cn.com.mapuni.meshing.activity.db_activity.DbMainActivity" >
        </activity>
        <activity android:name="cn.com.mapuni.meshing.activity.db_activity.DbscfkActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|navigation"  
            android:windowSoftInputMode="adjustResize"  
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="cn.com.mapuni.meshing.activity.PhtoActivity" >
        </activity>
        <activity android:name="cn.com.mapuni.meshing.activity.photo.PicViewerActivity" >
        </activity>
        <activity android:name="cn.com.mapuni.meshing.util.UpdateApkActivity" />
        <activity android:name="cn.com.mapuni.meshing.activity.db_activity.XiaFaDetailActivity" />
        <activity android:name="cn.com.mapuni.meshing.activity.db_activity.XiaFaXunChaActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|navigation"  
            android:windowSoftInputMode="adjustResize"  
            android:screenOrientation="portrait" />
        <activity android:name="cn.com.mapuni.meshing.activity.db_activity.YanShiShenQingActivity" />
		<activity android:name="cn.com.mapuni.meshing.activity.xc_activity.ZuJiActivity"/>
		<activity android:name="cn.com.mapuni.meshing.activity.wd_activity.XCPlanListActivity"/>
		<activity android:name="cn.com.mapuni.meshing.activity.wd_activity.XCPlanDetailActivity"/>
        <service android:name="cn.com.mapuni.meshing.util.DownloadService" />
        <service android:name="cn.com.mapuni.meshing.activity.gis.LocationService" />
        <service android:name="cn.com.mapuni.meshing.service.GjscService"/>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.6" >
                </action>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="rOSpgTfEjsukucHFuzcITjKY6cLDmekr" />
        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <!-- Required SDK 核心功能 -->
        <!-- option since 2.0.5 可配置PushService，DaemonService,PushReceiver,AlarmReceiver的android:process参数 将JPush相关组件设置为一个独立进程 -->
        <!-- 如：android:process=":remote" -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.example.meshing" />
            </intent-filter>
        </service>

        <!-- Required -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000" >
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="com.example.meshing" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.meshing" />
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name="cn.com.mapuni.meshing.receiver.MyReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.example.meshing" />
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="996874c64e12a4f48c974613" />
        <!-- </>值来自开发者平台取得的AppKey -->
    </application>

</manifest>